*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.wrapper {
    margin-top: 3rem;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 38rem;
    padding: 2rem 4rem;
    background-image: url('./header.png');
    background-size: cover;
    background-position: 0% 86%;
    font-family: 'Dancing Script', cursive;
    z-index: 0;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: -1;
}

.header h1 {
    margin-bottom: 3rem;
    font-size: 5rem;
    word-spacing: .3rem;
    color: #fff;
}

#search {
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .85);
}

.question-list {
    padding: 2rem 4rem;
}

.question-list h2 {
    padding: 3rem 0;
    font-size: 2.4rem;
}

.question-list ul {
    list-style: none;
    padding-bottom: 3rem;
    font-size: 1.6rem;
}

.question-list li {
    display: flex;
    padding: .8rem 3rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.question-list li:last-child {
    border-bottom: 0;
}

.question-list .showBtn {
    margin-left: auto;
    padding: .5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgb(214, 208, 126);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .3s;
}

.question-list .showBtn:hover {
   background-color: rgb(224, 211, 23)
}

.popup {
    display: none; /*to show change value on flex*/ 
    position: absolute;
    margin: 5rem auto;
    padding: 3rem;
    width: 80rem;
    min-height: 36rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ddd;
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
    overflow: hidden;
}

.popup h2 {
    margin: 0 0 2rem;
    padding-bottom: 1.5rem;
    width: 100%;
    font-size: 2.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.popup p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 1.4;
    word-spacing: 5px;
}

.popup pre {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.popup li {
    margin-left: 5rem;
    font-size: 1.6rem;
    line-height: 1.4;
}

.popup .closeBtn {
    margin: 2rem auto 0;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgb(214, 208, 126);
    cursor: pointer;
    transition: background-color .3s;
}

.popup .closeBtn:hover {
    background-color: rgb(224, 211, 23);
}

.answer {
    display: none;
}
